/* --- Variáveis globais */
:root {
    /* Fontes */
    --fonte-tit: "Limelight", cursive;
    --fonte-txt: "Montserrat", sans-serif;

    /* Cores */
    --cor-bg: #FBFAF5;
    --cor-fg: #444444;
    --cor-fg-sec: #666;
    --cor-tags: #DED7FB;
    --cor-links: red;
}

/* --- Limpeza de estilos */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: var(--fg-color);
    text-decoration: none;
}

/* --- Estilos gerais */
body {
    padding: 5% 20%;
    font-family: var(--fonte-txt);

    color: var(--cor-fg);
    background-color: var(--cor-bg);
}

p, li {
    font-size: 20px;
    line-height: 1.2;
}

h2 {
    font-size: 30px;
}

/* --- Títulos de posts */
h1.titulo-post {
    font-family: var(--fonte-tit);
    font-size: 52px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

/* --- Autor e data */
h2.data, h2.autor {
    font-size: 18px;
}

.data, .author {
    margin-top: 0px;
    color: var(--cor-fg-sec);
}

/* --- Raschunho */
h2.rascunho {
    color: red;
}

/* --- Tags */
ul.tags-pag {
    padding: 0;
    list-style-type: none;
}

.tags-pag li {
    /* Mostra os itens da lista de tags na horizontal */
    display: inline;

    font-size: 18px;
    padding: 5px 10px;
    margin-right: 10px;
    background-color: var(--cor-tags);
    border-radius: 5px;
}

    text-decoration: none;
}
}

}
